<div{{ attributes }}>
  {{ title_prefix }}
  {{ title_suffix }}

  <div class="locations">
      <div class="label"><i class="bi bi-geo-alt-fill"></i> {{ "Locations" | t }}</div>
      <div class="lb-locations-list">
          {{ content }}
      </div>
  </div>
</div>
